{% extends "base.njk" %}

{% block content %}

<h1>{{ __('agreement.title_main') }}</h1>

<div style="display: none">{{ __('agreement.start') }}</div>

<hr style="margin-top: 40px"/>

<h2>{{ __('agreement.title_sub') }}</h2>

<div>
    <p>
        {{ __('agreement.questions') }}
        <br>
        <strong>{{ __('name') }}:</strong>{{ defaultValue("researcher_name", false)}},
        <strong>{{ __('title') }}:</strong>{{ defaultValue("researcher_title",false)}},
        <strong>{{ __('organization') }}:</strong>{{ defaultValue("researcher_org",false)}}
        <br>
        <strong>{{ __('phone') }}:</strong>{{ defaultValue("researcher_phone",false)}},
        <strong>{{ __('email') }}:</strong>{{ defaultValue("researcher_email",false)}}
    </p>

    <p>
    {{ __('agreement.thankyou') }}

    {% if data.is_with_partner_team == "" %}{{defaultValue("is_with_partner_team")}}{% endif %}
    {% if data.is_with_partner_team == "yes" %}
      {{ __('agreement.working_with') }} {{defaultValue("partner_name_team")}} {{__('to') }} {{ defaultValue("research_goal")}}.
    {% else %}
      {{ __('agreement.research_reason') }} {{ defaultValue("research_goal")}}.
    {% endif %}
    </p>

    <p>
      To do this we will ask you to {{ defaultValue("session_activity") }}. This will take approximately {{ defaultValue("session_duration") }}.
    </p>

    <p>
      By participating in this study, you understand that:
    </p>
    <ul>
        <li>You are volunteering to participate. You can stop at any time for any reason.</li>

        {% if data.compensation == "" %}{{defaultValue("compensation")}}{% endif %}
      {% if data.compensation == "yes" %}
        <li>For your {{ defaultValue("session_duration") }} of input, you will receive a one-time payment via 
        <strong>
        {%- if (data.compensation_method == "") and (data.compensation_other != "") %}{{data.compensation_other | trim}}{%- elif (data.compensation_method != "") and (data.compensation_other != "") %}{%- if data.compensation_method|is_not_string %}{{data.compensation_other | trim}}, {%- else %}{{data.compensation_other | trim}} and {% endif %}{%- elif (data.compensation_method == "") and (data.compensation_other == "") %}{{defaultValue("compensation_method")}}{% endif %}{% if data.compensation_method|is_not_string %}{%- for item in data.compensation_method %}{{(__(data.compensation_method[loop.index0]))}}{%- if loop.index0 === loop.length-2 %}</strong> and <strong>{%- elif loop.index0 < loop.length-2 %}, {% endif %}{% endfor %}{% else %}{{ (__(data.compensation_method)) }}{% endif %}
        </strong> of up to {{ defaultValue("compensation_value") }}. This may be taxable income.</li>
      {% endif %}

      {% if data.confidentiality == "form.confidentiality_full" %}
        <li>Your information will be confidential. This means your responses will be anonymised and cannot be linked to you.</li>
        {% if data.compensation == "yes" %}
          <li>However, as you are receiving compensation for participating, the fact that you participated is not able to be kept confidential.</li>
        {% endif %}
      {% elif data.confidentiality == "form.confidentiality_partial" %}
        <li>Your information will be confidential but shared amongst the working teams. This means your responses will be linked to you but only within identified bounds.</li>
      {% elif data.confidentiality == "form.confidentiality_none" %}
        <li>Your information will not be confidential. Your input will be shared publicly and associated with your name.</li>
      {% endif %}

        {% if data.confidentiality == "" %}{{defaultValue("confidentiality")}}{% endif %}
      {% if data.confidentiality != "form.confidentiality_full" %}
        <li>Your 
        <strong>
        {%- if (data.personal_information_shared == "") and (data.personal_shared_other != "") %}{{data.personal_shared_other | trim}}{%- elif (data.personal_information_shared != "") and (data.personal_shared_other != "") %}{%- if data.personal_information_shared|is_not_string %}{{data.personal_shared_other | trim}}, {%- else %}{{data.personal_shared_other | trim}} and {% endif %}{%- elif (data.personal_information_shared == "") and (data.personal_shared_other == "") %}{{defaultValue("personal_information_shared")}}{% endif %}{% if data.personal_information_shared|is_not_string %}{%- for item in data.personal_information_shared %}{{(__(data.personal_information_shared[loop.index0]))}}{%- if loop.index0 === loop.length-2 %} </strong>and<strong>{%- elif loop.index0 < loop.length-2 %},{% endif %}{% endfor %}{% else %}{{ (__(data.personal_information_shared)) }}{% endif %}
        </strong>
        {% if data.confidentiality == "form.confidentiality_partial" %}
          may be shared internally.
        {% elif data.confidentiality == "form.confidentiality_none" %}
          may be shared publicly.
        {% endif %}
      {% endif %}
      </li>
    </ul>
      {% if data.recording_type == "" %}{{defaultValue("recording_type")}}{% endif %}
      {% if ("form.recording_video" in data.recording_type) or ("form.recording_audio" in data.recording_type) or ("form.recording_image" in data.recording_type) %}

    <h3>Recording</h3>

      <p>Recording our research will help us ensure we properly capture your input.</p>

      <p>By agreeing to be recorded, you understand that:</p>
      <ul>
        <li>You are choosing to be recorded.</li>
        <li>Your responses will not be confidential due to your likeness in the recording.</li>
        {% if data.is_with_partner_team == "yes" %}
          <li>Your responses may be shared with {{ defaultValue("partner_name_team") }} in accordance with {{ defaultValue("partner_department_authority") }}. </li>
          <li>If you decide to withdraw your consent, we will not share your recording further and will destroy any copies of the recording.</li>
        {% endif %}
      </ul>
    {% endif %}

    <h3>Consent for Participation</h3>

    <p>
      {% if data.consent == "form.consent_verbal" %}
        <br>
        Name: ______________________________________________________
        <br>
        Date: ______________________________________________________ 
        <br>
        Time: ______________________________________________________
      {% elif data.consent == "form.consent_written"%}
        <b>I understand the points above and consent to participate in the research.</b>
        <br>
        <br>
        Name: ______________________________________________________
        <br>
        Date: ______________________________________________________
        <br>
        Signature: ______________________________________________________
      {% elif data.consent == "form.consent_digital" or data.consent == "form.consent_agency" %}
        You will be asked to or already have provided your consent via <strong>{{ __('form.consent_other')}}</strong>.
      {% elif data.consent == "other" %}
        You will be asked to or already have provided your consent via <strong>{{ __('form.consent_other')}}</strong>.
      {% elif data.consent == "" %}
        {{defaultValue("consent")}}
      {% endif %}
    </p>

    {% if data.organisation_representation == "yes" %}
      <strong>As you are representing an organisation, please indicate their name below.</strong>
      <br><br>
      <p>Legal business name: ______________________________________________________</p>
    {% elif data.organisation_representation == "" %}
      {{defaultValue("organisation_representation")}}
    {% endif %}

    <h2>Further Information</h2>

    <h3>Research Methods</h3>
    <p>The research will involve the following methods: 
    <strong>
      {%- if (data.research_method == "") and (data.research_other != "") %}{{data.research_other | trim | title }}{%- elif (data.research_method != "") and (data.research_other != "") %}{%- if data.research_method|is_not_string %}{{data.research_other | trim}}, {%- else %}{{data.research_other | trim }} and {% endif %}{%- elif (data.research_method == "") and (data.research_other == "") %}{{defaultValue("research_method")}}{% endif %}{% if data.research_method|is_not_string %}{%- for item in data.research_method %}{{(__(data.research_method[loop.index0]))}}{%- if loop.index0 === loop.length-2 %}</strong> and <strong>{%- elif loop.index0 < loop.length-2 %}, {% endif %}{% endfor %}{% else %}{{ (__(data.research_method)) }}{% endif %}.
    </strong>
    </p>

    <h3>Privacy Statement</h3>
    <p>Please remember that participation is completely voluntary. You may end your participantion in the research at any point.</p>

    <h3>What we will collect</h3>
    <p>By participating in this research you consent that your 
    <strong>
    {%- if (data.personal_information_collected == "") and (data.personal_collected_other != "") %}{{data.personal_collected_other | trim}}{%- elif (data.personal_information_collected != "") and (data.personal_collected_other != "") %}{% if data.personal_information_collected|is_not_string %}{{data.personal_collected_other | trim}}, {% else %}{{data.personal_collected_other | trim}} and {% endif %}{%- elif (data.personal_information_collected == "") and (data.personal_collected_other == "") %}{{defaultValue("personal_information_collected")}}{% endif %}{% if data.personal_information_collected|is_not_string %}{%- for item in data.personal_information_collected %}{{(__(data.personal_information_collected[loop.index0]))}}{%- if loop.index0 === loop.length-2 %} </strong> and <strong> {% elif loop.index0 < loop.length-2 %},  {% endif %}{% endfor %}{% else %}{{ (__(data.personal_information_collected)) }}{% endif %}
    </strong>
    will be collected.</p>

    <h3>How we will use this information</h3>
    <p>We will use this information to {{ defaultValue("research_goal") | trim}}.</p>
    <p>Please note, you may be contacted at a later date to verify you have received compensation.</p>

    {% if data.is_with_partner_team == "yes" and data.administrative_decision == "no" %}
      <p>Your personal information will not be used for any other purposes. Your information will not be used to make a decision that affects you or your access to benefits or services.</p>
    {% elif data.is_with_partner_team == "yes" and data.administrative_decision == "yes" %}
      <p>Your personal information may be used for other purposes such as {{ defaultValue("administrative_purpose") | trim}}. Your information may be used to make a decision that affects you or your access to benefits or services.</p>
    {% elif data.is_with_partner_team == "yes" and data.administrative_decision == "" %}{{ defaultValue("administrative_decision")}}
    {% endif %}

    <p>We {% if data.compensation == "yes" %}will own the information provided to us and {% endif %}may publish or share a summary of what we have learned from this research, including quotes or narratives. Your personal information will not be directly associated with your responses, quotes, or narratives.</p>

    {% if data.recording_type != "form.recording_none" %}
      <p>If you have consented to being recorded, that recording may be disclosed to other departments.</p>
    {% endif %}

    <h3>Your legal rights</h3>
    {% if data.confidentiality == "form.confidentiality_full" %}
      <p>Due to the anonymity of responses, we will have no reliable means of associating you with your information provided. This means we will not be able to access or respond to any request to access, withdraw, or correct inaccurate information.</p>
    {% else %}
      <p>We may record your personal information during this research. If you wish to access, withdraw, or correct that personal information, please contact the person or organisation mentioned at the top of this form.</p>
    {% endif %}

</div>

{% endblock %}
