{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('questions-1.title') }}</h1>
    <p>{{ __('questions-1.intro1') }}</p>
    <p>{{ __('questions-1.intro2') }}</p>
    <p>{{ __('questions-1.intro3') }}</p>
    {# <p>{{ __('questions-1.intro4') }}</p> #}
    <div>
        <form method="post" class="form">

            <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <h2>{{ __('basicInfo.title') }}</h2>

            {{ textInput('researcher_name', 'form.researcher_name') }}
            {{ textInput('researcher_org', 'form.researcher_org') }}
            <div>
                {{ radioButtons('organisation_representation', { 'on-1':'yes','off-1':'no'}, data.company_representation, 'form.organisation_representation', errors) }}
            </div>

            <h2>{{ __('projectInfo.title') }}</h2>

            {{ textArea('project.goal', 'form.project.goal', { hint: 'form.project.goal.desc' }) }}

            {{ textArea('research.topic', 'form.research.topic', { hint: 'form.research.topic.desc' }) }}

            {{ textArea('research.goal', 'form.research.goal', { hint: 'form.research.goal.desc' }) }}

            {{ textArea('participant.value', 'form.participant.value', { hint: 'form.participant.value.desc' }) }}

            {{ textInput('research.output.text', 'form.research.output.text', { hint: 'form.research.output.text.desc', hint2: 'Output 1'}) }} 
            {{ textInput('research.output.text2', '', {hint2:'Output 2'}) }}

            <div class="toggle-area">
                {{ radioButtons('research_type', { 'off-1':'form.research.type.interview','off-2':'form.research.type.workshop', 'off-3':'form.research.type.evaluation','on':'form.research.type.observation'}, data.research_type, 'form.research.type', errors) }}
                {# {{ radioButtons('research-type', { 'on':'yes','off':'no'}, data.research.type, 'form.research.type', errors) }} #}
            </div>

            {{ textInput('session.info.duration', 'form.session.info.duration', { hint: 'form.session.info.duration.desc' }) }}
 
            {{ textInput('session.info.location', 'form.session.info.location', { hint: 'form.session.info.location.desc' }) }}

             <div class="research-type-toggled" style="display:none" >
            {{ textInput('session.info.observation.duration', 'form.session.info.observation.duration', { hint: 'form.session.info.observation.duration.desc' }) }}
             </div>

            <h2>{{ __('privacy.title') }}</h2>

            {{ checkBoxes('personal_information_collected', { 
            '1':'form.personal.information.personal.identifiers', 
            '2':'form.personal.information.personal.recorded.information', 
            '3':'form.personal.information.sensitive.personal.characteristics', 
            '4':'form.personal.information.commercial.information', 
            '5':'form.personal.information.biometric.information', 
            '6':'form.personal.information.internet.activity.information', 
            '7':'form.personal.information.geolocation.data', 
            '8':'form.personal.information.recording.data', 
            '9':'form.personal.information.professional.information',
            '10':'form.personal.information.nonpublic.education.information',
            '11':'form.personal.information.personal.inferences'
            }, data.personal_information_collected, 'form.personal.information.collected', errors) }}

            <div class="toggle-area">
                {{ checkBoxes('privacy-info', {'on-1':'form.privacy-info'}, data.privacy-info, '', errors) }}
            </div>

            <div class="privacy-info-toggled" style="display:none" >
                    <ul class="privacy.list">
                        <li class=>{{ __('form.personal.information.personal.identifiers.desc') }}</li>    
                        <li class=>{{ __('form.personal.information.personal.recorded.information.desc') }}</li>    
                        <li class=>{{ __('form.personal.information.sensitive.personal.characteristics.desc') }}</li>    
                        <li class=>{{ __('form.personal.information.commercial.information.desc') }}</li>    
                        <li class=>{{ __('form.personal.information.biometric.information.desc') }}</li>    
                        <li class=>{{ __('form.personal.information.internet.activity.information.desc') }}</li>    
                        <li class=>{{ __('form.personal.information.geolocation.data.desc') }}</li>    
                        <li class=>{{ __('form.personal.information.recording.data.desc') }}</li>    
                        <li class=>{{ __('form.personal.information.professional.information.desc') }}</li>    
                        <li class=>{{ __('form.personal.information.nonpublic.education.information.desc') }}</li>    
                        <li class=>{{ __('form.personal.information.personal.inferences.desc') }}</li>    
                    </ul>     
            </div>

            <div>
                {{ checkBoxes('recording_type', { 
                '1':'form.recording.type.audio',
                '2':'form.recording.type.video',
                '3':'form.recording.type.device',
                '4':'form.recording.type.image',
                '5':'form.recording.type.none'
                }, data.recording_type, 'form.recording.type', errors) }}
            </div>

            {{ radioButtons('recording_shared', { 'on-1':'form.recording.shared.yes1','on-2':'form.recording.shared.yes2','off-1':'form.recording.shared.no'}, data.recording_shared, 'form.recording.shared', errors) }}

            <div class="toggle-area">
            {{ radioButtons('confidentiality', { 'off-1':'form.confidentiality.full','on-1':'form.confidentiality.partial','on-2':'form.confidentiality.none'}, data.confidentiality, 'form.confidentiality', errors) }}
            </div>

            <div class="toggle-area">
                {{ checkBoxes('confidentiality-info', {'on-1':'form.confidentiality-info'}, data.confidentiality.info, '', errors) }}
            </div>

            <div class="confidentiality-info-toggled" style="display:none" >
                    <ul class="confidentiality.list">
                        <li class=>{{ __('form.confidentiality.full') }}
                            <ul>
                                <li>{{ __('form.confidentiality.full.desc1') }}</li>
                                <li>{{ __('form.confidentiality.full.desc2') }} </li>
                            </ul>  
                        </li>
                        <li>{{ __('form.confidentiality.partial') }}
                            <ul>
                                <li>{{ __('form.confidentiality.partial.desc1') }}</li>
                                <li>{{ __('form.confidentiality.partial.desc2') }} </li>
                            </ul>  
                        </li> 
                        <li>{{ __('form.confidentiality.none') }}
                            <ul>
                                <li>{{ __('form.confidentiality.none.desc1') }}</li>
                            </ul>  
                        </li>    
                    </ul>     
            </div>

            {{ textInput('data.contact', 'form.data.contact', { hint: 'form.data.contact.desc'}) }}
 
            {{ textInput('data.contact.email', 'form.data.contact.email') }}

            <a href={{ __('form.gdpr.link.html') }}>{{ __('form.gdpr.link') }}</a>
            <br>

            <h2>{{ __('research.repository.title') }}</h2>

            {{ textInput('research.repository.location', 'form.research.repository.location', { hint: 'form.research.repository.location.desc' }) }}

            {{ radioButtons('research-repository-exists', { 'on':'yes','off':'no'}, data.research.repository.exists, 'form.research.repository.exists', errors) }}

            {{ textInput('research.repository.retention.original', 'form.research.repository.retention.original', { hint: 'form.research.repository.retention.original.desc'}) }}

            {{ textInput('research.repository.retention.personal', 'form.research.repository.retention.personal', { hint: 'form.research.repository.retention.personal.desc'}) }}

            <h2>{{ __('compensation.title') }}</h2>

            <div class="toggle-area">
                {{ radioButtons('compensation', { 'on':'yes','off':'no'}, data.compensation, 'form.compensation', errors) }}
            </div>

             <div class="compensation-toggled" style="display:none" >
            {{ textInput('research.compensation.value', 'form.compensation.value', { hint: 'form.compensation.value.desc' }) }}

                <div class="toggle-area">
                    {{ radioButtons('compensation-followup-needed', { 'on':'yes','off':'no'}, data.compensation, 'form.compensation.followup.needed', errors) }}
                </div>

                <div class="compensation-followup-needed-toggled" style="display:none" >
                {{ textInput('compensation.followup.needed.value', 'form.compensation.followup.needed.value', { hint: 'form.compensation.followup.needed.value.desc' }) }}
                </div>

             </div>

            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
