// colours (using 'color' because of CSS conventions)

$color-blue-dark: #284162;
$color-blue-light: #335075;
$color-banner-blue: #4B98B2;
$color-reops-blue: #006fbe;
$color-banner-blue-light: #DFF8FD;
$color-yellow: #ffbf47;
$color-white: #ffffff;
$color-black: #000000;
$color-red: #af3c43;
$color-red-light: #f3e9e8;
$color-purple: #7834bc;
$color-grey-light: #cbcbcb;
$color-grey-dark: #666666;
$color-grey-verydark: #333333;

// spacing units

$space-xxs: 5px;
$space-xs: 10px;
$space-sm: 15px;
$space-md: 20px;
$space-lg: 30px;
$space-xl: 40px;
$space-xxl: 60px;
$space-xxxl: 120px;

// other vars
$height-footer: 100px;
$multiple-choice-padding-left: 40px;
