$footerInnerHeight: 50px;

footer {
  padding-top: $space-md;
  padding-bottom: $space-md;
  border-top: 4px solid $color-reops-blue;
  height: $height-footer;
  position: sticky;
  background-color: $color-white;
  bottom: 0;
  width: 100%;

  .page--container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    height: 48px;
  }

  .footer-links {
    font-size: 0.85em;
    // width: 50%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      // margin-bottom: $space-xl;

      @include sm {
        // margin-bottom: $space-md;
      }
    }

    li {
      margin-right: $space-sm;

      &::before {
        // content: '\2022';
        color: $color-blue-light;
        // display: inline-block;
        // bullets are about 5px, so add space to compensate
        width: calc(#{$space-sm} + 5px);
      }

      @include sm {
        &:first-of-type::before {
          content: none;
          width: 0;
        }
        display: flex;
      }
    }

    a {
      text-decoration: none;
      font-weight: bold;
      vertical-align: middle;
    }
  }

  .researchOps-logo-wordmark {
    // margin-bottom: $space-md;
    // width: 147.2px;
              height: 48px;
  }

  @include md {
    .page--container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      height: $footerInnerHeight;

      .footer-links {
        flex: 2;

        ul {
          // put the footer links on the same baseline as the Canada wordmark
          // margin-bottom: -$space-xxs;
        }
      }
      .researchOps-logo-wordmark {
        flex: 1;
        text-align: right;
        // margin-bottom: 0;
        max-height: 100%;


        img {
          // height: $footerInnerHeight;
          height: 48px;
        }
      }
    }
  }
}
