<footer>
    <div class="page--container">
        <div class="footer-links">
            <ul>
                <li>
                    <a href={{ __('footer.link1') }}>{{ __('footer.link1.desc') }}</a>
                </li>
                {# <li>
                    <a target="_blank" href="feedback">{{ __('feedback_link_text') }}</a>
                </li> #}
            </ul>
        </div>
        <div class="researchOps-logo-wordmark">
            <img src="./img/Logo_Blue.svg" alt="Re+ Ops">
            {# <img src="/img/wmms-blk.svg" alt="{{ __('wordmark.alt') }}"> #}
        </div>
    </div>
</footer>