<footer>
    <div class="page--container">
        <div class="footer-links">
            <ul>
                <li>
                    <a href={{ __('footer.link1') }}>{{ __('footer.link1.desc') }}</a>
                </li>
            </ul>
        </div>
        <div class="researchOps-logo-wordmark">
            <img src="./img/Logo_Blue.svg" alt="Re+ Ops">
        </div>
    </div>
</footer>