<div class="phase-banner">
    <div>
        {# <span>ALPHA</span><span>{{ __('phase.desc') }}</span> #}
        <span>Currently In Development</span>
        <span>The Consent Form Builder is currently in development, and currently should not be used in any official capacity</span>
    </div>
</div>