{#
  - `property`: form value to look up
#}
{%- macro defaultValue(property, bold = true) %}
  {%- if (property in data) and (data[property] !== "") %}
    {%- if bold %}<strong>{{data[property]|trim}}</strong>
    {%- else %}{{data[property]|trim}}
    {%- endif %}
  {%- else %}<span style="color:red; font-weight:bold">**{{ property }}**</span>
  {%- endif %}
{%- endmacro %}